* {
box-sizing: border-box;
}


body {
font-family: Arial;
background-color: #4a0a47; /* #565370 #3f6b9c */
padding: 50px;
}



.data-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px;
border:groove 6px #de2203 ; /* #007bff */
text-align: left;
}

.quote-screen {
background-color: #f06c30;
color: white;
font-size: 1.25em;
padding: 20px;
border-radius: 5px;
border:inset 6px black;
margin-top: 20px;
display: none;
text-align: left;	
}



.app-title {
text-align: center;
color: #000;
}

.login-form {
text-align: left;
}


input {
text-align: left;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}

input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.btn {
border: 2px solid transparent;
background: #4a0a47;
color: #ffffff;
font-size: 16px;
line-height: 25px;
padding: 10px 0;
text-decoration: none;
text-shadow: none;
border-radius: 3px;
box-shadow: none;
transition: 0.25s;
display: block;
width: 250px;
margin: 0 auto;
}

.btn:hover {
background-color: #840000;
}

.login-link {
font-size: 12px;
color: #444;
display: block;
margin-top: 12px;
}

.alert, .alert-warning, .alert-dismissible {
	background: #f06c30;
}

.logout {
	background: #f06c30;
    padding: 4px 20px;
    border: solid 2px #000;
    border-radius: 10px;
    color: #fff;
}

.instruction  li {
	list-style-type: none;
	align-items: left;
	text-align: left;
	border: solid 2px #4d42a5;
}



#welcome {
	color: white;
}

/* added for suggestion keep this */

.p {
	font-style: bold;
	color: #c01b05 ;
	font-size: 1.25em;
}
.title {
	color: #220120;
	font-size: 1em;
}

.subscript {
	color: black;
	vertical-align: sub;
	font-size: .75em;
}

.instructions {
	margin: 0 0 0 10px;

}


form {
    width: 80%;
    margin: 0 auto;
}

label, input {
    display: inline-block;
}

label {
    width: 30%;
    text-align: left;
}

label + input {
    width: 30%;
    margin: 0 30% 0 4%;
}

input + input {
    float: center;
    text-align: center;
      display: flex;
  align-items: center;
  justify-content: center
}


.btn {
  display: flex;
  align-items: center;
  justify-content: center
}

hr {
	border-top: 2px solid #de2203;
}

/* for audience overlay */


# curtain {
	background-color: black;
	width: 100%;
	border: dotted 4 green;
	padding: 10px;	
	height: 10px;
}

.audienceSilhouette {
	display: flex;
	justify-content: space-between;
	width: 90%;
	align-items: center;
	position: absolute; 
}

.stageLeft, .stageRight {
	display: flex;
	justify-content: center;
	position: relative;
}

.audience_body {
	background-color: #4a0a47;
	height: 120px;
	width: 106px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -35px; 
	
}

.audience_head {
	background-color: #4a0a47;
	position: absolute;
	height: 62px;
    width: 56PX;
    border-top-right-radius: 70%;
    border-top-left-radius: 83%;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;


	display: flex;
	justify-content: space-between;
	align-items: center; 
	margin-top: -125px;
	overflow: visible;

}

.pirate_hat {
	background-color: #4a0a47;
	position: absolute;
	height: 29px;
    width: 56PX;
    border-top-right-radius: 70%;
    border-top-left-radius: 70%;
	border-bottom-left-radius: 20%;
	border-bottom-right-radius: 20%;
    transform: skewY(-33deg);
	display: flex;
	justify-content: center;
	align-items: center; 
	margin-top: -52px;
	overflow: visible;
	/* outline: 2px blue solid; */
}

.pirate_hat_R {
	background-color: #4a0a47;
	position: absolute;
	height: 29px;
    width: 56PX;
    border-top-right-radius: 70%;
    border-top-left-radius: 70%;
	border-bottom-left-radius: 20%;
	border-bottom-right-radius: 20%;
    transform: skewY(33deg);
	display: flex;
	justify-content: center;
	align-items: center; 
	margin-top: -52px;
	overflow: visible;
	/*outline: 2px blue solid; */
}

.elf_ears {
	background-color: #4a0a47;
	height: 42px;
    width: 10px;
    margin-top: -30px;
    margin-right: 0px;
    border-bottom-left-radius: 62%;
    border-bottom-right-radius: 62%;
    border-top-left-radius: 62%;
    border-top-right-radius: 62%;
   /* outline: 2px blue solid; */

}

.princess_hat {
	border-left: 50px solid transparent;
	border-right:14px solid transparent; 
	border-bottom: calc(4 * 4px * 0.8) solid #4a0a47;
	border-top: 10px solid transparent; 
	outline: 2px blue;
	margin-top: -72px;
    margin-left: -10px;
}

.gapper {
	width: 1000px;
    height: fit-content;
	background-color: #de2203;
	border: solid 4px #000;

}
